body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  color: white;
}

h1 {
  margin-top: 50px;
}

#canvas {
  background-color: cornsilk;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
}